<div>
    <h2 id="page-heading">
        <span jhiTranslate="equipmentManagementApp.store.home.title">Stores</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-store" [routerLink]="['/store/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="equipmentManagementApp.store.home.createLabel">
            Create a new Store
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="stores?.length === 0">
        <span jhiTranslate="equipmentManagementApp.store.home.notFound">No stores found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="stores && stores.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="storeName"><span jhiTranslate="equipmentManagementApp.store.storeName">Store Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="streetAddress"><span jhiTranslate="equipmentManagementApp.store.streetAddress">Street Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCode"><span jhiTranslate="equipmentManagementApp.store.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="equipmentManagementApp.store.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateProvince"><span jhiTranslate="equipmentManagementApp.store.stateProvince">State Province</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let store of stores ;trackBy: trackId">
                    <td><a [routerLink]="['/store', store.id, 'view']">{{ store.id }}</a></td>
                    <td>{{ store.storeName }}</td>
                    <td>{{ store.streetAddress }}</td>
                    <td>{{ store.postalCode }}</td>
                    <td>{{ store.city }}</td>
                    <td>{{ store.stateProvince }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/store', store.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/store', store.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(store)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="stores && stores.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
